amqp==5.1.1
ansible==7.1.0
ansible-compat==2.2.7
ansible-core==2.14.1
APScheduler==3.6.3
arrow==1.2.3
asgiref==3.2.3
astroid==2.5
attrs==21.4.0
awscli
awsebcli
awslambda==1.0.6
backports.entry-points-selectable==1.1.0
bcrypt==3.2.2
billiard==3.6.4.0
binaryornot==0.4.4
black==22.8.0
blessed==1.19.1
boto3
